<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <a routerLink=""><h2> Logo Here</h2></a>
            </div>
            <div class="col-sm-6">
                <ul class="menubar">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="about">About Us</a></li>
                    <li><a routerLink="services">Services</a></li>
                    <li><a routerLink="servicelist">Services List</a></li>
                    <li><a routerLink="contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="cartsec">
                    <li><a routerLink="userlogin" mat-raised-button color="primary">Login</a></li>
                    <li><a href="#" mat-raised-button color="accent">Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>