<app-header></app-header>
<router-outlet></router-outlet>
<!--
<div class="container mt-4">

<h1>{{data}}</h1>
<app-about (updateDataValue)="updateData($event)"></app-about>
</div>
<div class="container">
    <input type="text" [(ngModel)]="asdf">
    <h2>{{asdf}}</h2>
</div>

<div class="container">
    <h2>Pipes in angular</h2>
    <h3>{{title | uppercase}}</h3>
    <h3>{{title | lowercase}}</h3>
    <h3>{{"welcome to pipe tutorial" | titlecase }}</h3>
    <h2>{{ 100 | custompipe : 75 }}</h2>
</div>
-->
<app-footer></app-footer>
