<div class="secondary-container">
    <div class="container">
        <h2>This servicelist ID is: {{ userId }} </h2>
        <h2>Display userlist by using service in angular</h2>
        <table border-collapse>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Age</td>
            </tr>
            <tr *ngFor="let data of userinfo">
                <td>{{ data.name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.age }}</td>
            </tr>
        </table>
    </div>
</div>